<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="artwork-edit-images">
        <div class="col-lg-4">
          <div class="artwork-edit-image-1">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="artwork-edit-image-2">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="artwork-edit-image-3">
          </div>
        </div>
      </div>
    </div>
    <div class="artwork-edit-header"> 
      <h3>Update <%= @artwork.name() %></h3>
    </div>
    <div class="artwork-edit">
      <p class="lead">Info about this piece:</p>
      <div class="info">
        <p>Name: <%= @artwork.name() %></p>
        <p>Description: <%= @artwork.description() %></p>
      </div>
      <form action="/artworks/<%= @artwork.id %>" method="post">
        <input name="_method" type="hidden" value="patch">
        <label for="updated_name">Change the name of this piece:</label>
        <input name="updated_name" type="text">
        <label for="updated_description">Change the description of this piece:</label>
        <input name="updated_description" type="text">
        <br>
       <button class="btn btn-success" type="submit">Update <%= @artwork.name %></button>
      </form>
    </div>
    <div class="artwork-move">
      <p class="lead">Move this piece to a different museum:</p>
      <form action="/artworks/<%= @artwork.id %>/move" method="post">
        <input name="_method" type="hidden" value="patch"> 
        <label for="museum_id">Select a museum</label>
        <select name='updated_museum_id' type='text'>
        <% @museums.each() do |museum| %>
          <option value="<%= museum.id()%>"> <%= museum.name() %> </option>
        <% end %>
        </select>
        <br>
        <button class="btn btn-success" type="submit">Move <%= @artwork.name %></button>
      </form>
    </div>
    <div class="artwork-delete">
      <p class="lead">Delete this piece:</p>
      <form action="/artworks/<%=@artwork.id %>" method="post">
        <input name="_method" type="hidden" value="delete">
        <button class="btn btn-danger" type="submit">Delete <%= @artwork.name() %></button>
      </form>
    </div>